.container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 15px;
}

.image {
  width: 300px;
  border-radius: 5px;
}

.title {
  font-size: 1rem;
  margin: 10px 0;
}

.detail {
  font-size: 0.85rem;
  color: grey;
  margin: 5px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 5px;
}

.price {
  background-color: #befa00;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location p {
  margin-right: 5px;
}

.carsCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
